version: "3.6"

services:
  postgres:
    image: postgres:12.2-alpine
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=crm
    volumes:
      - crm-postgres:/data/postgres

  qilincrm:
    build: .
    image: p1hub/qilin-crm-api:latest
    restart: unless-stopped
    ports:
      - "7002:8080"
    depends_on:
      - postgres
    environment:
      - QILIN_STORE_POSTGRES_HOST=postgres
      - QILIN_STORE_POSTGRES_PORT=5432
      - QILIN_STORE_POSTGRES_USER=user
      - QILIN_STORE_POSTGRES_PASSWORD=password
      - QILIN_STORE_POSTGRES_DATABASE=crm

volumes:
  crm-postgres:
